## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_vc= application_df['APPLICATION_TYPE'].value_counts()
application_type_vc

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_type_replace= list(application_type_vc[application_type_vc < 500].index)

# Replace in dataframe
for app in application_type_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value_counts_h_gt1 = classification_value_counts.loc[classification_value_counts > 1]
classification_value_counts_h_gt1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_value_counts[classification_value_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_numeric = pd.get_dummies(application_df)
application_df_numeric

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_df_numeric.drop(['IS_SUCCESSFUL'], axis=1)
y = application_df_numeric['IS_SUCCESSFUL']


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1,stratify=y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer_1 = 25
hidden_nodes_layer_2 = 10
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer_1, input_dim = number_input_features, activation = "relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer_2, activation = "relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 25)                1100

 dense_1 (Dense)             (None, 10)                260

 dense_2 (Dense)             (None, 1)                 11

=================================================================
Total params: 1371 (5.36 KB)
Trainable params: 1371 (5.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=30)

Epoch 1/30
804/804 [==============================] - 10s 7ms/step - loss: 0.5849 - accuracy: 0.7084
Epoch 2/30
804/804 [==============================] - 5s 6ms/step - loss: 0.5574 - accuracy: 0.7247
Epoch 3/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5529 - accuracy: 0.7289
Epoch 4/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5510 - accuracy: 0.7289
Epoch 5/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5502 - accuracy: 0.7301
Epoch 6/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5489 - accuracy: 0.7321
Epoch 7/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5484 - accuracy: 0.7310
Epoch 8/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5476 - accuracy: 0.7322
Epoch 9/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5475 - accuracy: 0.7324
Epoch 10/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5469 - accuracy: 0.7320
Epoch 11/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5463 - accuracy: 0.7329
Epoch 12/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5457 - accuracy: 0.7321
Epoch 13/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5450 - accuracy: 0.7341
Epoch 14/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5447 - accuracy: 0.7331
Epoch 15/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5448 - accuracy: 0.7329
Epoch 16/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5444 - accuracy: 0.7327
Epoch 17/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5441 - accuracy: 0.7329
Epoch 18/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5437 - accuracy: 0.7343
Epoch 19/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5434 - accuracy: 0.7337
Epoch 20/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5430 - accuracy: 0.7342
Epoch 21/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5429 - accuracy: 0.7354
Epoch 22/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5428 - accuracy: 0.7346
Epoch 23/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5425 - accuracy: 0.7322
Epoch 24/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5422 - accuracy: 0.7341
Epoch 25/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5423 - accuracy: 0.7338
Epoch 26/30
804/804 [==============================] - 4s 4ms/step - loss: 0.5419 - accuracy: 0.7364
Epoch 27/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5420 - accuracy: 0.7346
Epoch 28/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5417 - accuracy: 0.7367
Epoch 29/30
804/804 [==============================] - 3s 3ms/step - loss: 0.5416 - accuracy: 0.7360
Epoch 30/30
804/804 [==============================] - 3s 4ms/step - loss: 0.5411 - accuracy: 0.7357

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5548 - accuracy: 0.7313 - 767ms/epoch - 3ms/step
Loss: 0.5548266768455505, Accuracy: 0.7313119769096375

In [16]:
# Export our model to HDF5 file
filename = 'Reports/AlphabetSoupCharity.h5'
nn.save(filename)

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(